

<mat-card class="main-card">

  <mat-card-content>

      <div class="text_inDialog">
        Your order was succeed !!!
      </div>

      <div class="button_downloadPlusLabel_inDialog">
        <label>For downloading your recipt click:</label>
        <button class="btn btn-link" (click)="showReceipt()">here</button>
      </div>

      <div class="button_ok_inDialog">
        <button mat-button class="btn btn-primary"  (click)="close()">OK</button>
      </div>

  </mat-card-content>

</mat-card>