<nav class="navbar">
  <button (click)="openAddDialogMovieInfo()" class="btn btn-link add_button">
    <img  class="ml-4" src="./../../assets/images/plus.png">
    <p>Add movie</p>
  </button>
  <h3 class="main_headline text-center">Welcome to the cinema using OMDB API !</h3>
  <ul class="d-flex flex-row-reverse">
    <li><a routerLink="/app/home">HOME</a></li>
    <li class="mr-3"><a href="https://www.imdb.com/">IMDB</a></li>
    <li class="mr-3"><a href="http://www.omdbapi.com/">OMDB</a></li>
  </ul>

</nav>

