h1{
    position: relative;
    font-size: 2em;
    text-align: center;
    margin-bottom:60px;
    top: 50vh !important;
}

div{
     text-align: center;
}

.btn{
    position: relative;
    top: 130px;
}